.jumbotron-fluid {
    background-image: url("../img/pizza.png");
    display:flex;
    justify-content: stretch;

}


h1 {
    background: white; opacity: .6;
    text-align: center;
}

/* header {
    background-image: (linked pizza image ["pizza.png"]

}

header h1 {
    opacity: .7; -this makes the font and transparent
}
 */