* {
    box-sizing: border-box;
    /*font-size: 15px;*/
}


body {
    margin: 0;

}

nav {
    background: rgb(193, 193, 193);
}

ul {
    list-style: none;
    padding: 0;
    margin: auto;
    display: flex;
    font-family: 'Montserrat', 'Work Sans', sans-serif;
    font-weight: bold;
    align-items: center;
    /*box-sizing: border-box;*/
    height: 3em;
    width: auto;

}

nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: .5em;
    margin-left: auto;
    font-size: .65em;
}


nav a:hover {
    color: blue;
}

nav ul li:nth-child(5) {

    padding-top: .2em;
    padding-bottom: .2em;
    font-weight: lighter;
    font-size: 3em;
    margin-left: 12.5em;
    margin-right: auto;


}

