.fancy-header {
    text-align: center;
    color: white; /* single line comment */
    text-decoration: underline;
}

h1 {
    text-decoration: underline;
}

body {
    background-image: url("https://images.pexels.com/photos/1102797/pexels-photo-1102797.png?cs=srgb&dl=codes-computer-monitor-programming-1102797.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

ol {
    list-style-type: upper-roman;
}

ul {
    list-style-type: lower-roman;
}

* {
    font-family: "Microsoft Tai Le";
    color: white;
}

td, tr {
    padding: 5px;
    font-size: larger;
    font-family: "Lucida Fax"
}

a:link {
    color: white;
}

a:hover {
    color: dodgerblue;
}

a:visited {
    color: lightpink;
}

img {
    box-sizing: border-box;
    background: whitesmoke;
    border: 5px solid black;
    margin: 25px 10px 50px 70px;
    padding: 10px 45px;
    width: 50%;
}